.box{
    width:100%;
    background-color: aquamarine;
    height: 100px;
}

.box2{
    width:100%;
    background-color: rgb(255, 255, 24);
    height: 100px;
}

.box3{
    width:100%;
    background-color: rgb(220, 57, 57);
    height: 100px;
}

.catImage{
    width: 100%;
}